<% if manager_signed_in? %>
  <li class='nav-item'><%= link_to 'Sign out', session_signout_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to '관리자메뉴', admin_root_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to '고객 문의 관리', conversations_path, class: 'nav-link' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Sign in', session_signin_path, class: 'nav-link' %></li>
<% end %>
